
.header {
  &__content {
    display: flex;
    position: relative;
  }
  &__nav {
    display: flex;
  }
  &__btn{
    text-decoration: none;
  }
  &__link{
    margin-right: 28px;
    text-decoration: none;
    list-style: none;
  }
}
