.header {
  margin-top: 40px;
  &__content {
    display: flex;
    position: relative;
  }
  &__nav {
    display: flex;
  }
  &__btn{
    text-decoration: none;
    color: #191919;
    &:hover{
      color: #3bcfcb;
    }
  }
  &__link{
    margin-right: 28px;
    list-style: none;
    font-family: Montserr;
  }
}
